// for WIDE Screen
@include mediaXl {
}

// for Desktop and Laptops
@include mediaLg {
}

// for Tablets and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); // left to right
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); // right to left

    .portrait {
      background: url('../img/portrait_small.jpg'); // change to small image
      width: 150px;
      height: 150px;
    }
  }
}

// for Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}
