// for WIDE Screen
@include mediaXl {
  // extends to 4
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// for Desktop and Laptops
@include mediaLg {
  // extends to 3
  .projects {
    grid-template-columns: repeat(43, 1fr);
  }
}

// for Tablets and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); // left to right
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); // right to left

    .portrait {
      background: url('../img/portrait_small.jpg'); // change to small image
      width: 150px;
      height: 150px;
    }
  }

  // stack about info into single column using grid
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }

  // extends to 2
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// for Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  // extends to 1
  .projects {
    grid-template-columns: 1fr;
  }
}
